apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis
spec:
  replicas: 1
  selector:
    matchlabels:
      component: redis
  template:
    metadata:
      labels: 
        component: redis
  spec:
    container:
      - name: redis
        image: redis:alpine
        ports:
          - containerPort: 6379
