name: laboratorio 8
on: 
  push: 
    branches: ["main"]
jobs:
  labo8:
    runs-on: ubuntu-latest
    permissions:
       id-token: write
       contents: read 
    steps:
      - name: Descargar codigo
        uses: actions/checkout@v5
      - name: iniciar sesion en dockerhub
        uses: docker/login-action@v3
        with:
          username: ${{vars.USER_GITHUB}}
          password: ${{secrets.DOCKERHUB_TOKEN_LABO8}}
      - name: construir imagen
        uses: docker/build-push-action@v6
        with:
          context: ./app
          push: true
          tags: lg10/as-laboratorio-8-web       
      - name: autentificacion google cloud
        uses: google-github-actions/auth@v3
        with:
          project_id: admindesis
          workload_identity_provider: projects/691003069041/locations/global/workloadIdentityPools/labo8-2/providers/github-actions-provider
          service_account: labo8-2@admindesis.iam.gserviceaccount.com
      - name: utilizar kubectl
        uses: google-github-actions/get-gke-credentials@v3
        with:
          cluster_name: labo8-cluster
          location: us-central1
      - name: desplegar kubernet
        run: kubectl apply -f \k8s\
