name: laboratorio 8
on: push 
jobs:
  labo8:
    runs-on: ubuntu-latest
    permissions:
       id-token: write
       contents: read 
    steps:
      - name: Descargar codigo
        uses: actions/checkout@v5
      - name: iniciar sesion en dockerhub
        uses: docker/login-action@v3
        with:
          username: ${{secrets.
          password: ${{vars.
      - name: construir imagen
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: lg10/as-laboratorio-8-web       
      - name: autentificacion google cloud
        uses: google-github-actions/auth@v3
        with:
          project_id: labo8
          workload_identity_provider: projects/691003069041/locations/global/workloadIdentityPools/labo8-segundo/subject/SUBJECT_ATTRIBUTE_VALUE
          service_account:
      - name: utilizar kubectl
        uses: google-github-actions/get-gke-credentials@v3
        with:
          cluster_name:
          location:
      - name: desplegar kubernet
        run: kubectl apply -f \k8s\
